python-dotenv
langchain
langchain-ollama
langchain-community
langgraph
langsmith
pydantic
ipykernel
langchain-google-genai
google
google-genai
pymysql
pymupdf4llm
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
psycopg
psycopg-binary